*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

/* sign up form styling */
.AuthForm{
 background-color: white;
 width: max-content;
 padding: 1rem;
 border-radius: 30px;
 margin: 0 auto;
 margin-top: 2rem;
}
/* .formHeader  */
.formHeader{
 text-align: center;
}
.formHeader span{
 font-size: small;
 color: #828282;
}
.formBody label{
 display: block;
 margin-top: 1rem;
 padding-left: 1rem;
 font-size: 14px;
}
.formBody input{
 border: none;
 border-radius: 20px;
 background-color: #f1f1f1;
 padding: 0.5rem 1rem;
 width: 486px;
}
.formBody input:focus{
 border: 0.5px solid black;
}
.formsubmit{
 margin-top: 2rem;
 width: 468px;
 background-color: #D22D33;
 border: none;
 border-radius: 40px;
 padding: 1rem;
 text-align: center;
 color: #FFFFFFFF;
 display: block;
}
.formFooter{
 text-align: center;
}
.formFooter span{
 display: inline-block;
 margin-top: 0.5rem;
 font-size: small;
 color: #828282;
}
.formFooter span a{
 text-decoration: none;
 font-weight: bolder;
 color: black;
}
