@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$buttonBgColor: #D22D33;
$footerColor: #FACBCD;

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 user-select: none;
 font-family: "Poppins", serif;
}

@mixin flexCenter($direction){
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: $direction;

}
@mixin buttons($paddingValue, $widthValue){
 background-color: $buttonBgColor;
 padding: $paddingValue;
 width: $widthValue;
 border-radius: 5rem;
 border: none;
 color: white;
}
.mainHeader{
 background: url("../assets/mainPage-images/heroBg.png");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 height: 100dvh;
 padding-top: 2rem;
 position: relative;

 .mainNavBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  margin: 0 auto;

  img{
   width: 10rem;
  }

  .listItems{
   display: flex;
   list-style: none;
   align-items: center;
   gap: 1rem;

   #serviceList{
    display: flex;
    align-items: center;
   
    .dropdownList{
      display: none;
      list-style: none;
      border: none;
      background-color: white;
      color: black;
      box-shadow: 2px 2px 2px black;
      width: max-content;
      border-radius: 5px;
      position: absolute;
      top: 5rem;
      left: 33rem;
    
      li{
        height: 2.5rem;
        text-align: center;
        padding: 0.7rem;
    
        &:hover{
          background-color: turquoise;
          color: white;
        }
      }
    }

    &:hover .dropdownList{
      display: block;
    }
    
   .service{
    height: 2rem;
    width: 2rem;
    }

    
    }
  }
  .dropdown{
    display: flex;
    align-items: center;

    .iconSvg{
      height: 2rem;
      width: 2rem;
    }
    #logo{
    height: 3rem;
    width: 3rem;
    }
  }
  
}
 #groupItems{
 @include flexCenter(column);  
 margin-top: 10rem;

  #kitchenHeader{
   font-size: 100px;
   font-family: "Lato", serif;
   display: inline-block;
   margin-bottom: 3rem;
   color: white
  }
  #orderInputs{
   @include flexCenter(row);
   gap: 1.5rem;

   select{
    height: 3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
   }
   input:focus{
    outline: none;
   }

   button{
    @include buttons(0.5rem, 7rem)
   }
  }
 }


}

#availableKitchenDiv{
 margin: 5rem;
 padding: 0 5rem;
 h2{
  @include flexCenter(row);
  margin-bottom: 1rem;
 }
 .foodGridContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // margin: 0 auto;
  grid-column-gap: 20px;
  grid-row-gap: 40px;

 }
}


// styling for the imported KitchenAndFood function
#orderList{
 border: 1px black solid;
 padding: 0.5rem;
 width: max-content;
 border-radius: 15px;

 .location{
  display: flex;
  align-items: center;
  width: 13rem;

  .iconSvg{
  height: 2rem;
  width: 2rem;
  }
}

 img{
  height: 15rem;
 }
 #details{
  .foodName{
   font-size: 28px;
   font-family: "Poppins", serif;
   font-weight: bold;
  }
  div{
   @include flexCenter(row);
   font-size: 20px;
   justify-content: space-between;
  }
  .makeOrder{
   margin-top: 1rem;
   @include buttons(1rem, 100%)
  }
 }
}

// styling for the getAppDiv

#getAppDiv{
 padding: 1rem 5rem 0 5rem;
 background-color: $footerColor;
 display: flex;
 justify-self: center;
 margin-top: 5rem;
 width: 55rem;
 height: 25rem;
 justify-content: space-between;
 border-radius: 20px;

 #getStarted{
  width: 20rem;
  margin-top: 5rem;

  h3{
    font-family: "Lato", serif;
  }
  h6{
   color: $buttonBgColor;
   font-family: "Poppins", serif;
  }
  #foodText{
   font-size: small;
   font-weight: bold;
   font-family: "Poppins", serif;
  }
  span{
   display: block;
  }
  #downloadStores{
   margin-top: 2rem;

   div{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
   }

   img{
    height: 3rem;
   }
  }
 
  } 
  #kitchenImage{
   height: 100%;
  }
}
footer{
 margin-top: 5rem;
 background-color: $footerColor;
 padding: 3rem 5rem;
 
 span{
  display: block;
  font-weight: 600;
 }

 img{
  height: 2rem;
  margin-bottom: 1rem;
 }

 #footerDownloadLink{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
 }
 .footerNavLinks{
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  margin: 0;

  div{
   display: flex;
   flex-direction: column;
   justify-items: start;

   h2{
    font-family: 'Rubik', sans-serif;
   }
   ol{
    margin: 0;
    padding: 0;
   }
   
  li{
   list-style: none;
   font-size: 25px;

   &:hover{
    cursor: pointer;
    text-decoration: underline;
   }
  }
 }
  #socials{
   display: flex;
   flex-direction: row;
   gap: 1rem;
  }
 }
}