$poppins: "Poppins", sans-serif;
$red: #D22D33;
$pink: #FACBCD;
$lato: "Lato", sans-serif;

//Type in Ctrl + F to find the elements which bear the corresponding classes
main{
    padding: 0px 80px;
}
.services{
    // .card-services{
    //     display: flex;
    //     justify-content: space-between;
    //     .card-content{
    //         border: none;
    //         .card-img-div{
    //             border: 1px solid #f0eeee;
    //             border-radius: 10px;
    //             height: 300px;
    //             width: 400px;
    //             img{
    //                 border-radius: 10px;
    //             }
    //         }
    //     }
    // }
    .services-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 100px;
        h1{
            width: 454px;
            text-align: center;
            font-weight: 800;
            line-height: 1.4em;
            font-size: 45px;
        }
        h4{
            font-size: 18px;
            color: $red;
            font-weight: 600;
            font-family: $poppins;
            letter-spacing: 6px;
        }
    }
    .services-content{
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-around;
        gap: 50px;
        div{
            display: flex;
            flex: 1 1 300px; 
            min-width: 150px; 
            max-width: 100%;
            flex-direction: column;
            margin-top: 24px;
            padding: 0px !important;
            width: 400px;
            .service-img{
                width: 100%;
                border-radius: none;
                margin-bottom: 30px;
            }
            h3{
                font-family: $poppins;
                font-size: 28px;
                font-weight: 600;
            }
            p{
                font-size: 16px;
                text-align: start;
                font-weight: 400;
                line-height: 30px;
            }
            a{
                text-decoration: none;
                color: $red;
                font-weight: 600;
                font-family: $poppins;
                width: 120px;
            }
            .right-arrow-link{
                width: 20px;
                margin-left: 5px;
                filter: invert(17%) sepia(85%) saturate(2995%) hue-rotate(345deg) brightness(102%) contrast(86%);
            }
        }
    }
}
.jumbo{
    margin: 150px -80px;
    height: 500px;
    color: white; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .overlay{
        filter: brightness(0.5);
        background: url("/assets/mainPage-images/heroBg.png") no-repeat center;
        background-size: cover; 
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .jumbo-content{
        position: relative;
        z-index: 2;
        h1{
            font-weight: light;
            font-size: 4rem;
        }
        p{
            line-height: 40px;
        }
    }
}

.reviews{
    margin: 150px 0px;
    .reviews-img-div{
        position: relative;
        padding: 0;
        text-align: center;
        .reviews-img{
            width: 100%;
        }
        .floating-leaf{
            position: absolute;
            top: 0;
            right: 150px;
            transform: rotate(-50deg);
            width: 105px;
            img{
                width: 100%;
            }
        }
        .floating-leaf-2{
            position: absolute;
            top: 0;
            right: 90px;
            width: 147px;
            img{
                width: 100%;
            }
        }
        .floating-onion{
            position: absolute;
            top: 40px;
            left: 100px;
            transform: rotate(-50deg);
        }
        .floating-onion-2{
            position: absolute;
            top: 50px;
            left: 130px;
        }
        .customer-count{
            position: absolute;
            bottom: -50px;
            right: 30px;
            background-color: white;
            border-radius: 10px;
            width: 263px;
            height: 161px;
            display: flex;
            flex-direction: column;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            justify-content: center;
            h1{
                color: black;
                font-size: 1.5rem;
                margin-bottom: 20px;
                font-weight: 600;
                text-align: center;
            }
            .customers{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                .left{
                    margin-left: -20px;
                }
                img{
                    width: 60px;
                }
                .count-customers{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    font-size: 1.1rem;
                    font-weight: 600;
                    width: 60px;
                    height: 60px;
                    background-color: $red;
                    color: white;
                    cursor: pointer;
                }
            }
            
        }
    }
    .reviews-box{
        align-items: start;
        gap: 60px;
    }
    .reviews-content{
        flex: 1 1 300px; 
        min-width: 150px; 
        max-width: 600px;
        h1{
            width: 500px;
            font-weight: 800;
            font-size: 45px;
            line-height: 1.4em;
        }
        p{
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            width: 500px;
        }
        .reviews-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            h4{
                margin: 0;
                font-size: 18px;
                font-family: $poppins;
                letter-spacing: 4px;
                color: $red;
            }
            .reviews-title-arrows{
                display: flex;
                align-items: center;
                gap: 10px;
                div{
                    height: 35px;
                    width: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 60px;
                    cursor: pointer;
                }
                .left-arrow{
                    background-color: #E0E0E0;
                    img{
                        width: 18px;
                    }
                }
                .right-arrow{
                    background-color: $red;
                    img{
                        width: 18px;
                    }
                }
            }
        }
        .services-header{
            h1{
                font-size: 60px;
                width: 100%;
    
            }
            h4{
                font-size: 19px;
                margin-bottom: 50px;
                line-height: 30px;
            }
        }
        .services-benefits{
            display: flex;
            width: 100%;
            gap: 30px;
            .benefits{
                h4{
                    font-size: 20px;
                    font-weight: bold;
                    font-family: $lato;
                }
                p{
                    width: 200px;
                    font-size: 15px;
                    line-height: 25px;
                }
                .service-image{
                    width: 80px;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    padding: 10px 0px;
                    display: flex;
                    justify-content: center;
                    background-color:rgba(210, 45, 51, 0.1);
                    img{
                        width: 50px;
                        filter: invert(17%) sepia(86%) saturate(3639%) hue-rotate(348deg) brightness(93%) contrast(81%);
                    }
                }
            }
        }
        .join-now{
            margin-top: 5%;
            button{
                font-size: 1.1rem;
                font-weight: 600;
                padding: 15px 50px;
                background: $red;
                border: none;
                border-radius: 50px;
                color: white;
            }
        }
    }
}


.download{
    margin-top: 150px;
    background-color: $red;
    position: relative;
    padding: 97px 85px;
    border-radius: 20px;
    color: white;
    background-color: $pink;
    .download-img{
        width: 35%;
        height: 60vh;
        background-image: url('/assets/main-images/PH.png');
        background-size: 100% 200%;
        background-position: top;
        position: absolute;
        bottom: 0;
        right: 80px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .download-content{
        color: black;
        p{
            font-size: 1rem;
            font-weight: 500;
            margin-top: 25px;
        }
        .download-content-text{
            h4{
                font-family: $poppins;
                font-size: 18px;
                color: $red;
                font-weight: 600;
                letter-spacing: 4px;
                margin-bottom: 25px;
            }
            h1{
                font-size: 46px;
                font-weight: 800;
                line-height: 60px;
            }
        } 
        .download-btn{
            display: flex;
            gap: 50px;
            a{
                text-decoration: none;
            }
            .download-container{
                display: flex;
                align-items: center;
                background-color: black;
                border-radius: 5px;
                gap: 10px;
                padding: 7px 0px;
                padding-left: 8px;
                .download-text{
                    display: flex;
                    flex-direction: column;
                    align-self: start;
                    width: 100%;
                    p{
                        font-size: 0.7rem;
                        font-weight: 400;
                        margin: 0;
                    }
                    h5{
                        font-size: 1rem;
                        color: white;
                        margin: 0;
                        font-weight: 500;
                    }
                }
                p{
                    margin: 0;
                    font-size: 0.8rem;
                    font-family: $poppins;
                    color: white;
                    width: 100px;
                }
                img{
                    width: 18px;
                }
            }
        }
    }
}

//Media queries for mobile devices from 576px below
@media (max-width: 576px){
    main{
        padding: 0px 20px;
        .jumbo{
            margin: 150px -22px;
            .jumbo-content{
                h1{
                    font-size: 50px;
                    margin-bottom: 10px;
                }
                p{
                    line-height: 35px;
                    margin-bottom: 30px;
                }
            }
        }
        .services{
            padding: 0px 10px;
            justify-content: center;
            .services-content{
                padding: 0px 10px;
                align-items: center;
                justify-content: center;
                gap: 40px;
                div{
                    max-width: 100% !important;
                }
            }
            .services-title{
                h1{
                    font-size: 40px;
                    width: 100%;
                }
                p{
                    width: 200px;
                }
            }
        }

        .reviews{
            display: flex;
            justify-content: center;
            margin-top: 50px;
            padding: 0;
            .reviews-img-div{
                display: flex;
                justify-content: center;
                padding: 0;
            }
            .reviews-box{
                width: 100%;
                gap: 220px;
                .reviews-img{
                    width: 100% !important;
                }
            }
            .reviews-content{
                padding: 0;
                width: 100%;
                h1{
                    width: 100%;
                    font-size: 40px;
                }
                p{
                    width: 100%;
                }
                .reviews-title{
                    h4{
                        font-size: 16px;
                    }
                }
                .services-header{
                    h1{
                        font-size: 40px;
                    }
                }
                .services-benefits{
                    flex-direction: column;
                    p{
                        width: 100% !important;
                    }
                }
                .join-now{
                    margin-top: 40px;
                }
            }
            .floating-leaf{
                width: 80px !important;
                top: 2933px;
                left: 220px
            }
            .floating-leaf-2{
                width: 100px !important;
                left: 240px;
            }
            .floating-onion{
                img{
                    width: 80px;
                }
                left: 10px !important;
            }
            .floating-onion-2{
                img{
                    width: 80px;
                }
                left: 30px !important;
            }
            .customer-count{
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
                top: 350px;
                left: 100px;
                width: 230px !important;
                height: 150px !important;
                padding: 12px 16px;
                border-radius: 20px !important;
            }
        }

        .download{
            padding: 50px 30px;
            height: 850px;
            .download-content{
                padding: 0px 15px;
                .download-content-text{
                    h4{
                        font-size: 0.9rem;
                    }
                    h1{
                        font-size: 35px;
                    }
                }
                .download-btn{
                    display: flex;
                    gap: 0px;
                }
            }
            .download-img{
                width: 90%;
                height:45vh;
                left: 20px;
                // background-size: 100% 100%;
            }
        }
    }
}

//Media queries for mobile devices greater than 576px but less than 768px
@media(min-width: 576px) and (max-width: 768px){
    main{
        padding: 0px 30px;
        .services{
            .services-content{
                align-items: center;
                div{
                    max-width: 100% !important;
                }
            }
        }
        .reviews{
            max-width: 100%;
            .reviews-box{
                align-items: center !important;
                justify-content: center;
                gap: 150px;
            }
            .services-benefits{
                justify-content: space-between !important;
                .benefits{
                    p{
                        width: 100% !important;
                    }
                }
            }
        }
        .jumbo{
            margin: 0px -30px;
        }
        .download{
            padding: 50px 30px;
            height: 900px;
            .download-content{
                padding: 0px 15px;
                margin-bottom: 50px;
                .download-content-text{
                    h4{
                        font-size: 0.9rem;
                    }
                    h1{
                        font-size: 35px;
                    }
                }
                .download-btn{
                    display: flex;
                    gap: 0px;
                }
            }
            .download-img{
                width: 92%;
                height:50vh;
                left: 20px;
                // background-size: 100% 100%;
            }
        }
    }
}
